<!doctype html>
<html lang="en-us" dir="ltr">
  <head>
  <meta charset="utf-8">
    <title>HappyEmail Landing</title>
    <!--[if lte ie 7]>
      <style type="text/css" media="screen">
        /* Move these to your IE6/7 specific stylesheet if possible */
        .uniForm, .uniForm fieldset, .uniForm .ctrlHolder, .uniForm .formHint, .uniForm .buttonHolder, .uniForm .ctrlHolder ul{ zoom:1; }
      </style>
    <![endif]-->

  </head>
  
  <style type="text/css">
<!--
.tab { text-align: center }

-->
</style>
  
    <body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2><font face="courier" color="green" size=72><i>It was the worst of times</i></font></h2>
    <img src="./storage/images/landing/sad%20emoticon.jpg" alt="Sad Icon">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2><font face="impact" color="red" size=72>It was the happiest of tmies</font></h2>
    <img src="./storage/images/landing/too-happy-emoticon.jpg" alt="Happy View">
    <img src="./storage/images/landing/too-happy-emoticon.jpg" alt="Happy View">
    <img src="./storage/images/landing/too-happy-emoticon.jpg" alt="Happy View">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1><font face="Times" size=72>Coming soon..</font></h1>
    <br><br><br><br><br><br><br><br>
    <h2><font face="Arial" size=72><font color="blue"><p class="tab">H</font>
	<font color="green">a</font>
	<font color="orange">p</font>
	<font color="purple">p</font>
	<font color="red">y</font>Email</p></h1></font></h2>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>